:root {
  --main-color: #fffffe;
  --secondary-color: #f25f4c;
  --accent-color:#ff8906;
  --tertiary: #e53170;
  --purple: #41197f;
  --background-color: #0f0e17;
}

::selection {
  background-color: var(--tertiary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
}

h1, h2, h3 {
  margin-bottom: 24px;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
